<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simpotech.app.hlgg">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/RedTheme">
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.MainFragActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ProLineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ProlineNetActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ProcessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.ContructionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.InvoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.InvoiceManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.InvoiceContructionDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.StockoutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.StockoutDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".scanner.CaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.StockoutQueryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.StockoutQueryDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.StockinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.activity.StockinQueryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.StockinQueryDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.QualityActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.QualityQueryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.QualityQueryDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait">
        </activity>

         <receiver android:name=".receiver.AutoStartReceiver">
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED"/>
                 <category android:name="android.intent.category.HOME"/>
             </intent-filter>
         </receiver>
    </application>

</manifest>